.continer{
  width: 450px;
  text-align: center;
  letter-spacing: 1px;
}

.project-container{
  padding-left: 100px;
  padding-top: 70px;
  color: rgb(255,246,232)
}

.components{
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  gap: 10px;
}

.backend{
  font-size: 50px;
  font-weight: 700;
}