.description{
  letter-spacing: 2px;
  width: 550px;
  font-size: 65px;
  font-weight: 700;
  color: rgb(255, 246, 232);
}

.ption{
  margin-left: 110px;
  margin-right: 110px;
  padding-top: 250px;
  padding-bottom: 150px;
}

.description-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description1{
  align-items: end;
  width: 600px;
  font-family:'Arial';
  font-size: 15px;
  color: gray;
  font-weight: 600;
}
